<header>
  <!-- NAV BAR -->
  <div class="navbar-container">
    <div class="logo-container">
      <a href="/"><img src="/images/ProperFix Logo.png" alt="properfix-logo" class="logo" height="50px"></a>
      <a href="/"><img src="/images/ProperFix.Co.png" alt="properfix-text" class="company-name"></a>
    </div>

    <button aria-controls="navbar" aria-expanded="false" class="mobile-navbar-toggle"></button>

    <ul id="navbar" data-visible="false" class="flex"> <!-- 'data-visible' is a custom attribute  we are using in our JS Ã-->
      <a role="button" class="btn btn-outline-dark" href="/">Home Page</a>
      <a role="button" class="btn btn-outline-dark" href="/about">About Us</a>
      <a role="button" class="btn btn-outline-dark" href="/services">Services</a>
      <a role="button" class="btn btn-outline-dark" href="/gallery">Gallery</a>
      <a role="button" class="btn btn-outline-dark" href="/contact">Contact Us</a>
    </ul>
  </div>
</header>