<%- include("partials/header") %>
  <%- include("partials/navbar") %>

    <!-- ABOUT HERO 1 -->
    <div class="px-4 py-5 text-center about-heroe-1">
      <h1 class="container col-11 display-5 fw-bold text-light">Every Project Begins With a Conversation</h1>
      <div class="col-11 col-lg-7 mx-auto">
        <div class="d-grid gap-2 d-flex justify-content-center">
          <a href="/contact" type="button" class="btn btn-outline-light btn-md px-4 view-galary-button my-4">Get In
            Touch</a>
        </div>
      </div>
    </div>

    <!-- ABOUT HEROE 2 -->
    <div class="px-4 py-5 text-center about-heroe-2">
      <h1 class="display-5 text-light">A Dedicated Group of Friendly Professionals</h1>
      <div class="col-11 col-lg-8 mx-auto">
        <p class="py-2 lead mb-4 mx-auto text-light lh-md">
          Here at ProperFix.Co we have over 25 years experience within the building sector. We only offer services that
          promise high standards and we ensure that everything we do is tailored to helping you create your dream home.
          We vow to offer you fair and competitive pricing within the industry, and will ensure that the end product is
          something that you are happy with.
        </p>
        <div class="d-grid gap-2 d-flex justify-content-center">
          <a href="/contact" type="button" class="btn btn-outline-light btn-md px-4 gap-3 contact-us-button-2">Contact
            Us</a>
        </div>
      </div>
    </div>

    <!-- ABOUT HEROE 3 -->
    <div class="px-4 py-5 bg-light text-center about-heroe-3">
      <h1 class="display-5 text-dark">Our Promise</h1>
      <div class="col-11 col-lg-8 mx-auto">
        <p class="py-2 lead mb-4 mx-auto text-dark lh-md"> <!-- ADD LINE HEIGHT MD TO ALL MAIN TEXTS -->
          We are committed to upholding the higest level of quality on all projects and to building a trusting
          relationship
          with all of our clients. Our team are always happy to hear what you have to say about our projects. We are
          always available for a chat whether that be via phone or in person. If you'd like to find out more, contact us
          now for a FREE quotation and on-site meeting if necessary.
        </p>
      </div>
      <div class="bg-light d-flex justify-content-center" id="featured-3">
        <div class="col-11 col-lg-8 col-xl-11 text-center row row-cols-1 row-cols-xl-4">
          <div class="feature col">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
              class="bi bi-person-heart mb-2" viewBox="0 0 16 16">
              <path
                d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z" />
            </svg>
            <h3 class="fs-4 text-body-emphasis">Personalised Service</h3>
            <p class="lead lh-sm">
              We pride ourselves in building trusting relationships with all of our clients. Tell us exactly what you
              have in mind and we will work closely with you to make it in to a reality.
            </p>
          </div>
          <div class="feature col">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
              class="bi bi-hourglass-bottom mb-2" viewBox="0 0 16 16">
              <path
                d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702s.18.149.5.149.5-.15.5-.15v-.7c0-.701.478-1.236 1.011-1.492A3.5 3.5 0 0 0 11.5 3V2h-7z" />
            </svg>
            <h3 class="fs-4 text-body-emphasis">Fast Customer Service</h3>
            <p class="lead lh-sm">
              Whatever the problem, we are always ready to help. If you require urgent assitance, even on weekends,
              please don't hessitate to contact us via our contact form or give us a call.
            </p>
          </div>
          <div class="feature col">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
              class="bi bi-piggy-bank-fill mb-2" viewBox="0 0 16 16">
              <path
                d="M7.964 1.527c-2.977 0-5.571 1.704-6.32 4.125h-.55A1 1 0 0 0 .11 6.824l.254 1.46a1.5 1.5 0 0 0 1.478 1.243h.263c.3.513.688.978 1.145 1.382l-.729 2.477a.5.5 0 0 0 .48.641h2a.5.5 0 0 0 .471-.332l.482-1.351c.635.173 1.31.267 2.011.267.707 0 1.388-.095 2.028-.272l.543 1.372a.5.5 0 0 0 .465.316h2a.5.5 0 0 0 .478-.645l-.761-2.506C13.81 9.895 14.5 8.559 14.5 7.069c0-.145-.007-.29-.02-.431.261-.11.508-.266.705-.444.315.306.815.306.815-.417 0 .223-.5.223-.461-.026a.95.95 0 0 0 .09-.255.7.7 0 0 0-.202-.645.58.58 0 0 0-.707-.098.735.735 0 0 0-.375.562c-.024.243.082.48.32.654a2.112 2.112 0 0 1-.259.153c-.534-2.664-3.284-4.595-6.442-4.595Zm7.173 3.876a.565.565 0 0 1-.098.21.704.704 0 0 1-.044-.025c-.146-.09-.157-.175-.152-.223a.236.236 0 0 1 .117-.173c.049-.027.08-.021.113.012a.202.202 0 0 1 .064.199Zm-8.999-.65a.5.5 0 1 1-.276-.96A7.613 7.613 0 0 1 7.964 3.5c.763 0 1.497.11 2.18.315a.5.5 0 1 1-.287.958A6.602 6.602 0 0 0 7.964 4.5c-.64 0-1.255.09-1.826.254ZM5 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>
            <h3 class="fs-4 text-body-emphasis">No Hidden Costs</h3>
            <p class="lead lh-sm">
              A fair and competetive price on all jobs we undertake and guaranteed transparency on all costs. We
              always provide a detailed breakdown of all plans and costs prior to taking on any project.
            </p>
          </div>
          <div class="feature col">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
              class="bi bi-emoji-smile-fill mb-2" viewBox="0 0 16 16">
              <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zM4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z" />
            </svg>
            <h3 class="fs-4 text-body-emphasis">Customer Satisfaction</h3>
            <p class="lead lh-sm">
              Our number one priority is YOUR satisfaction. We never leave a project with an unsatified client. We
              promise to work closely with you in order to ensure you get exactly what you paid for.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- CUSTOMER REVIEWS (CAROUSEL) -->
    <div class="px-2 py-5 text-center carousel-section">
      <h1 class="display-5 text-light pb-3">Customer Reviews</h1>
      <div>
        <div id="myCarousel" class="carousel slide container" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner pb-5 lead">
            <div class="carousel-item active">
              <h1 class="review-title display-6 text-light">Judith Warner</h1>
              <p class="text-light">★★★★★</p>
              <p class="lead review-text text-light lh-sm">
                "Wilson and his team of helpers have done a lot of painting and decorating jobs for us and we are lining
                up some more. We totally trust him and he has never let us down; always reliable, professional,
                courteous and polite. He pays great attention to detail, listens to what is wanted and keeps us informed
                of progress. I'd totally recommend him."
              </p>
            </div>
            <div class="carousel-item">
              <h1 class="review-title display-6 text-light">Sue Brailey</h1>
              <p class="text-light">★★★★★</p>
              <p class="lead review-text text-light lh-sm">
                "Wilson is a godsend, no job too large or small. He has completed so many jobs on our house that I have
                lost count, from fixing leaky taps and fitting blinds to installing a new shower inclusive plastering
                and tiling or resurfacing and damp proofing our cellar floor. I have complete faith in wilson and cannot
                recommend him highly enough."
              </p>
            </div>
            <div class="carousel-item">
              <h1 class="review-title display-6 text-light">Amy Lloyd</h1>
              <p class="text-light">★★★★★</p>
              <p class="lead review-text text-light lh-sm">
                "Wilson and his team have now done two bathroom refits for us. They work extremely hard and have an
                excellent eye for detail. We have been really pleased with the quality of their work and are delighted
                with the finished bathrooms."
              </p>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!-- TrustBox widget - Review Collector -->
      <div class="trustpilot-widget" data-locale="en-GB" data-template-id="56278e9abfbbba0bdcd568bc"
        data-businessunit-id="65bb908ee0b59cd0eea1f73f" data-style-height="52px" data-style-width="100%">
        <a href="https://uk.trustpilot.com/review/properfix.com" target="_blank" rel="noopener">Trustpilot</a>
      </div>
      <!-- End TrustBox widget -->
    </div>

    <%- include("partials/footer") %>