/* ---------------------------------------- MAIN BODY CSS ---------------------------------------- */

/* ---------- HEROE SECTION: ---------- */

.about-heroe-1 {
    padding: 34vh 10px 14vh 10px !important;
    background-image: url("../images/refurbishment-01-dark.jpg");
    background-position: center 65%; /* x-position y-position */
    background-size: cover;
}

.contact-us-button {
    background-color: rgb(35, 58, 117) !important;
    border: none;
}

.contact-us-button:hover {
    background-color: rgb(60, 108, 228) !important;
}

@media (max-width: 576px) {
    .about-heroe-1 {
        height: 20rem;
        padding: 10rem 10px 14rem 10px !important;
    }
}

/* ---------- HEROE SECTION 2: ---------- */

@media (max-width: 576px) {
    .about-heroe-2 {
        padding: 50px 10px 50px 10px !important;
    }

    .about-heroe-2 div p {
        font-size: 1rem;
    }
}

/* ---------- HEROE SECTION 3: ---------- */

/* .about-heroe-3 {
    background-color: white;
} */


@media (max-width: 576px) {
    .about-heroe-3 {
        padding: 50px 10px 50px 10px !important;
    }

    .about-heroe-3 div p {
        font-size: 1rem;
    }
}

#featured-3 {
    background-color: white;
}


#featured-3 div p {
    font-size: 1.15rem !important;
}
@media (max-width: 576px) {
    #featured-3 div p {
        font-size: 0.9rem !important;
    }
}

/* ---------- CAROUSEL SECTION ---------- */

.carousel-item svg {
    margin: 0.5rem 0 1rem 0;
}

.review-title {
    font-size: 1.5rem;
    font-weight: 400;
}

.review-text {
    width: 80%;
    margin: auto;
}

@media (max-width: 576px) {
    .review-text {
        font-size: 1rem;
    }
}