/* ---------------------------------------- UNIVERSAL CSS ---------------------------------------- */

/* Company Colours
rgb(35, 58, 117) 
rgb(208, 167, 39) */

/* Removing body margine and padding */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(35, 58, 117);
}


/* ---------------------------------------- HEADER/NAVBAR CSS ---------------------------------------- */


header {
  z-index: 9999;
  opacity: 100%;
  width: 100%;
  position: fixed;
}

.navbar-container {
  width: 100%;
  background-color: white;
  display: flex;
  margin: 0;
  padding: 30px 10%;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.logo {
  height: 3rem;
}

.company-name {
  position: relative;
  top: 2.5px;
  height: 35px;
}


#navbar {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar a {
  text-decoration: none;
  border: none;
}

.mobile-navbar-toggle {
  display: none;
}


@media (max-width: 1200px) {
  .navbar-container {
    padding: 30px 5%;
  }
}


@media (max-width: 992px) {
  .navbar-container {
    display: flex;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;
  }

  #navbar {
    z-index: -1;
    gap: 0rem;
    position: absolute;
    inset: 88px 0 0 0px;
    flex-direction: column;
    padding: 0 0 0 0;
    align-items: center;
    justify-content: left;
    background-color: rgb(88, 88, 93);
    opacity: 95%;
    height: max-content;
    /* For use with JavaScript in order to toggle navbar */
    transform: translateY(-100%);
    transition: transform 300ms ease-out;
  }

  /* using custom attribut with CSS to toggle navbar using JavaScript*/
  #navbar[data-visible="true"] {
    transform: translateY(0%);
  }

  #navbar>.navbar-home {
    background-color: rgb(80, 80, 86);
  }

  #navbar a {
    font-size: 1rem;
  }

  button {
    display: block;
  }

  .navbar-container a {
    color: white;
    width: 100%;
    padding: 1.5rem;
    border-bottom: 0.8px solid white !important;
    border-radius: 0px !important;
    border: 0px 0.5px;
  }

  .mobile-navbar-toggle {
    display: block;
    padding: 0;
    height: 2rem;
    aspect-ratio: 900 / 660;
    /* This is the width / height in pixels. */
    z-index: 9999;
    border: none;
    background: url("../images/hamburger-icon-black.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 1.9rem;
    top: 1.9rem;
  }

  .mobile-navbar-toggle[aria-expanded="true"] {
    display: block;
    padding: 0;
    aspect-ratio: 900 / 660;
    /* This is the width / height in pixels. */
    border: none;
    background: url("../images/exit-icon-black.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
  }

}

@media (max-width: 576px) {

  .navbar-container {
    margin: 0;
    padding: 0.8rem 5%;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-container a {
    padding: 1rem;
  }

  #navbar {
    inset: 55.59px 0 0 0px;
  }

  #navbar button {
    font-size: 1.5rem;
  }


  .logo-container {
    gap: 0.75rem;
  }

  .logo {
    height: 30px;
  }

  .company-name {
    height: 20px;
  }

  .mobile-navbar-toggle {
    display: block;
    height: 1.3rem;
    position: absolute;
    right: 1.1rem;
    top: 1.15rem;
  }

  #navbar button {
    font-size: 1rem;
  }
}


/* ---------------------------------------- MAIN BODY CSS ---------------------------------------- */

/* ---------- HEROE SECTION: ---------- */

.home-heroe-1 {
  padding: 45vh 10px 35vh 10px !important;
  background-image: url("../images/extension-01-dark.jpg");
  background-position: center;
  background-size: cover;
}

.contact-us-button {
  background-color: rgb(35, 58, 117) !important;
  border: none;
}

.contact-us-button:hover {
  background-color: rgb(60, 108, 228) !important;
}

.home-heroe-1 div p {
  font-size: 2rem;
}


@media (max-width: 576px) {
  .home-heroe-1 {
    height: 40rem;
    padding: 15rem 10px !important;
  }
}

/* ---------- HEROE SECTION 2: ---------- */

.home-heroe-2 {
  padding: 50px 10px 50px 10px !important;
}

.contact-us-button:hover {
  background-color: rgb(60, 108, 228) !important;
}


@media (max-width: 576px) {

  .home-heroe-2 div p {
    font-size: 1rem;
  }
}



/* ---------- ALBUM SECTION: ---------- */


.card-text {
  justify-content: center;
  align-items: center;
  height: 25rem;
  color: white;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

.img-1 {
  background-image: url(../images/fencing-01-dark.jpg);
  background-size: cover;
  background-position: center;
  /* This dictates what part of the image will be visible when there is cropping. */
}

.img-2 {
  background-image: url(../images/refurbishment-01-dark.jpg);
  background-size: cover;
  background-position: center;
}

.img-3 {
  background-image: url(../images/extension-01-dark.jpg);
  background-size: cover;
}

.img-4 {
  background-image: url(../images/landscaping-01-dark.jpg);
  background-size: cover;
}

.img-5 {
  background-image: url(../images/maintanence-01-dark.jpg);
  background-size: cover;
}

.img-6 {
  background-image: url(../images/painting-01-dark.jpg);
  background-size: cover;
}


@media (max-width: 992px) {
  .card-text {
    justify-content: center;
    align-items: center;
    height: 14rem;
    color: white;
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {

  .album-section div p {
    font-size: 1rem;
  }
}

/* ---------- CONTACT SECTION: ---------- */
.contact-form-home {
  background-color: white;
  /* border: 0.1rem solid white; */
}

.text-input {

  width: 100%;
  text-align: left;
}

.names {
  display: flex;
  gap: 15px;
}

.fName {
  flex: 1
}

.lName {
  flex: 1
}

.contact-info {
  display: flex;
  gap: 15px;
}

.email {
  flex: 1
}

.phone {
  flex: 1
}

.contact-form-home .submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-key {
  text-align: start;
  font-weight: 200;
}

.contact-container-home {
  margin: auto;
  display: flex;
  gap: 4rem;
}

@media (max-width: 992px) {
  .contact-container-home {
    display: flex;
    flex-direction: column;
  }
}

.contact-form-home {
  flex: 1;
}

@media (max-width: 576px) {
  .contact-form-home {
    font-size: 1rem;
  }
}

.contact-details-home {
  flex-direction: column;
  display: flex;
  flex: 1;
}

@media (max-width: 992px) {
  .contact-details-home {
    font-size: 0.5rem;
  }
}

.flex.my-2 {
  gap: 0.75rem !important;
}

.contact-container-home input {
  background-color: rgb(233, 233, 233);
  border: 1px solid rgb(161, 161, 161);
}

.contact-container-home textarea {
  background-color: rgb(233, 233, 233);
  border: 1px solid rgb(161, 161, 161);
}

/* ---------- HEROE 2: ---------- */
.heroe-section-contact-2 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

@media (max-width: 576px) {
  .heroe-section-contact-2 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }

  .heroe-section-contact-2 div p {
    font-size: 1rem;
  }
}



/* ---------- FOOTER SECTION: ---------- */

.footer-section img {
  display: block;
}

.footer-section svg {
  height: 25px;
}

.footer-section {
  background-color: white;
}



/* ---------------------------------------- UTILITY CSS ---------------------------------------- */

/* NAVBAR FLEX CLASS: */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

@media (max-width: 1200px) {
  .flex {
    display: flex;
    gap: var(--gap, 1rem) !important;
  }
}


@media (max-width: 992px) {
  .flex {
    display: flex;
    gap: var(--gap, 0rem) !important;
  }
}

.red-text {
  color: red;
}

/* ---------------------------------------- BOOTSTRAP: ---------------------------------------- */